@media screen and (min-width: 1400px){
.communication {
    padding: 110px 130px;
}
}
.communication {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 1400px){ 
.communication__dekstop-info {
    display: flex;
}
}
@media screen and (min-width: 1400px){ 
.communication__info {
    width: 461px;
    margin-top: 13px;
}
}
.communication__subtitle {
    color: #0189D1;
    margin: 0;
}
.subtitle {
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
}
@media screen and (min-width: 1400px){ 
.communication__title {
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    margin-top: 24px;
}
}
.communication__title {
    margin: 0;
}

@media screen and (min-width: 1400px){ 
.communication__description {
    margin-top: 30px;
}
}
.communication__description {
    margin: 0;
}
.article-description {
    font-size: 24px;
    line-height: 34px;
}
@media screen and (min-width: 1400px){ 
.communication__button {
    margin-top: 39px;
}
}
.communication__button {
    margin: 0;
    width: 160px;
}
.action-button {
    background-color: #3040C4;
    color: white;
}
.button {
    height: 48px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    font-size: 18px;
    line-height: 13px;
    font-weight: 700;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    
}
@media screen and (min-width: 1400px){ 
.communication__illustration {
    margin-left: auto;
    margin-top: 0;
}
}
.communication__illustration {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (min-width: 1400px){ 
.communication__image {
    margin-top: 0;
    max-width: 425px;
    height: 426px;
}
}

@media screen and (min-width: 1400px){ 
.communication__image-caption {
    margin-top: 15px;
}
}
.communication__image-caption {
    font-size: 14px;
    line-height: 22px;
    color: #2b292d99;
}
@media screen and (min-width: 1400px){ 
.communication__horizontal-line {
    margin-top: 26px;
}
}
.communication__horizontal-line {
    width: 150px;
    height: 1px;
    background-color: #0000001A;
    border: 0;
    margin: 0;
}
@media screen and (min-width: 1400px){
.communication__proposition {
    display: flex;
    margin-top: 41px;
    justify-content: space-between;
}
}

@media screen and (min-width: 1400px){ 
.communication__item {
    margin-top: 0;
    width: 360px;
}
}

.communication__item-description {
    margin: 0;
    font-size: 18px;
    line-height: 26px;
}
.communication__item-description-name {
    font-weight: 700;
}
.communication__item-link {
    color: #3040C4;
    font-weight: 700;
    margin-top: 10px;
    display: inline-block;
}
@media screen and (min-width: 1400px){ 
.communication__item {
    margin-top: 0;
    width: 360px;
}
}

.communication__item-description {
    margin: 0;
    font-size: 18px;
    line-height: 26px;
}
.communication__item-description-name {
    font-weight: 700;
}
* {
    box-sizing: border-box;
}
.communication__item-description {
    margin: 0;
    font-size: 18px;
    line-height: 26px;
}
.communication__item-link {
    color: #3040C4;
    font-weight: 700;
    margin-top: 10px;
    display: inline-block;
}
@media screen and (min-width: 1400px){ 
.communication__item {
    margin-top: 0;
    width: 360px;
}
}

