@media screen and (min-width: 1400px){ 
.hiring {
    padding: 106px 325px 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
}
@media screen and (min-width: 1400px){ 
.hiring__title {
    width: 555px;
}
}
.hiring__title {
    margin: 0;
    text-align: center;
}
.article-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.357143px;
}
.hiring__description {
    margin: 0;
    text-align: center;
}
.article-description {
    font-size: 24px;
    line-height: 34px;
}
@media screen and (min-width: 1400px){ 
.hiring__button {
    width: 247px;
    margin-top: 28px;
}
}
.action-button {
    background-color: #3040C4;
    color: white;
}
.button {
    height: 48px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    font-size: 18px;
    line-height: 13px;
    font-weight: 700;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    margin: 0;
}
@media screen and (min-width: 1400px){ 
.hiring__position {
    margin-top: 110px;
}
}
.vacancy:first-child {
    margin-top: 0;
}
@media screen and (min-width: 1400px){ 
.vacancy {
    width: 750px;
    height: 81px;
}
}
.vacancy {
    
    border: 1px solid #2b292d33;
    border-radius: 8px;
    display: flex;
}
@media screen and (min-width: 1400px){ 
.vacancy__search {
    width: 100%;
    padding: 26px 25px;
    display: flex;
    align-items: center;

    .vacancy__search: hover{
        background-color: blue;
    }
}
}
@media screen and (min-width: 1400px){ 
.vacancy__name {
    width: 408px;
}
}
.vacancy__name {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    display: inline-block;
}
@media screen and (min-width: 1400px){ 
.vacancy__location {
    width: 232px;
    margin-top: 0;
}
}
.vacancy__location {
    font-size: 16px;
    line-height: 22px;
    color: #2B292D99;
    display: inline-block;
}
@media screen and (min-width: 1400px){ 
.vacancy__action {
    background-color: #fff;
}
}
.vacancy__action {
    width: 50px;
    border-radius: 0px 8px 8px 0px;
    display: flex;
}
.vacancy__action-icon {
    margin: auto;
}
@media screen and (min-width: 1400px){ 
.vacancy:nth-child(2) {
    width: 750px;
    height: 81px;
    margin-top: 20px;
}
}
@media screen and (min-width: 1400px){ 
.vacancy:nth-child(3) {
    width: 750px;
    height: 81px;
    margin-top: 20px;
}
}