@media screen and (min-width: 1400px){
.inbox {
    display: flex;
    padding: 115px 99px 101px 193px;
    flex-direction: row;
}
}
.inbox {
    background-color: #FCF0E366;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 1400px){
.inbox__desktop-image {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
}
@media screen and (min-width: 1400px){
.inbox__illustration {
    max-width: 425px;
    height: 510px;
}
}


@media screen and (min-width: 1400px){
.inbox__illustration-caption {
    display: block;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #2b292d99;
    margin-top: 15px;
}
}

@media screen and (min-width: 1400px){
.inbox__information {
    width: 520px;
    margin-left: auto;
}
}
.inbox__information {
    border-bottom: 4px solid #0185D0;
}

@media screen and (min-width: 1400px){
.inbox__subtitle {
    margin: 0;
    margin-left: 28px;
    margin-right: 25px;
}
}
.inbox__subtitle {
   
    color: #F1592B;
}
.subtitle {
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
}

@media screen and (min-width: 1400px){
.inbox__title {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    margin-top: 24px;
    margin-left: 28px;
    margin-right: 25px;
}
}
.inbox__title {
    margin: 0;
}
.article-title {
    font-weight: 700;
    
}

@media screen and (min-width: 1400px){
.inbox__description {
    margin-top: 30px;
    margin-left: 28px;
    margin-right: 25px;
}
}
.inbox__description {
    margin: 0;
}
.article-description {
    font-size: 24px;
    line-height: 34px;
}

@media screen and (min-width: 1400px){
.review {
    margin-top: 44px;
    padding: 30px;
}
}
.review {
   
    background-color: #fff;
}

.review__text {
    font-size: 20px;
    line-height: 28px;
    margin: 0;
}
.review__person {
    display: flex;
    margin-top: 26px;
}
.review__person-avatar {
    width: 40px;
    height: 40px;
    margin-right: 11px;
    margin-top: 8px;
}
.review__person-info {
    display: flex;
    flex-direction: column;
}
.review__person-position {
    font-size: 16px;
    line-height: 22px;
    color: #2b292d99;
}
