@media screen and (min-width: 1400px){ 
.order {
    padding: 73px 228px 72px 224px;
    flex-direction: row;
}
}
.order {
    background-color: #F4F5F7;
    display: flex;
    align-items: center;
}
@media screen and (min-width: 1400px){ 
.order__illustration {
    max-width: 268px;
    margin-right: 121px;
    height: 296px;
}
}
@media screen and (min-width: 1400px){ 
.order__details {
    width: 555px;
}
}
@media screen and (min-width: 1400px){ 
.order__title-for-mobile {
    display: none;
}
}
.order__title {
    margin-top: 40px;
    margin-bottom: 0;
}
.article-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.357143px;
}
.order__title-for-desktop {
    display: block;
    margin: 0;
}
.article-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.357143px;
}
@media screen and (min-width: 1400px){ 
.order__description-for-mobile {
    display: none;
}
}
.order__description {
    margin-top: 18px;
    margin-bottom: 0;
}
.article-description {
    font-size: 24px;
    line-height: 34px;
}
.order__description-for-dekstop {
    display: block;
    margin-top: 12px;
}
.order__description {
    margin-bottom: 0;
}
@media screen and (min-width: 1400px){ 
.order__form {
    display: flex;
    margin-top: 26px;
}
}
@media screen and (min-width: 1400px){ 
.order__email {
    margin-top: 0;
    text-align: left;
    padding-left: 15px;
    width: 385px;
    margin-right: 10px;
}
}
.order__email {
    height: 48px;
    border: 1px solid #2b292d33;
    border-radius: 2px;
    
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
@media screen and (min-width: 1400px){ 
.order__button {
    margin-top: 0;
    width: 160px;
}
}

.action-button {
    background-color: #3040C4;
    color: white;
}
.button {
    height: 48px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    font-size: 18px;
    line-height: 13px;
    font-weight: 700;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    
    margin: 0;
}
.order__terms {
    font-size: 14px;
    line-height: 22px;
    color: #2b292d99;
    margin: 0;
    margin-top: 10px;
}
.order__terms-link {
    color: #3142C6;
}